* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero-text {
  max-width: 70%;
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

.hero-text-sub {
  max-width: 80%;
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

img {
  height: 450px;
  border-radius: 1rem;
}

.img-list {
  height: 250px;
  border-radius: 1rem;
}

/* footer {
  background-image: url("../images/mug-8235059_1280.jpg");
} */
